# This database must be isolated from development and production.
DB_USER=some_user
DB_HOST=some_host
DB_NAME=some_database
DB_PASSWORD=some_password
DB_PORT=some_port
GOOGLE_APPLICATION_CREDENTIALS=../firebase/firebase.json
