.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.form-style {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
}

.inputSection {
  display: flex;
  gap: 2rem;
}

.labelForm,
.inputField {
  padding: 0.25rem;
}

.form-submit {
  width: 80px;
  background-color: inherit;
  border: 1px solid var(--border);
  border-radius: 8px;
  align-self: flex-end;
  margin-top: 10px;
  padding: 5px 15px;
  cursor: pointer;
  font: inherit;
  color: inherit;
}

.form-submit:hover {
  background-color: var(--hover);
  color: var(--text-h);
}
